* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
  font-family: 'Poppins', sans-serif;
}

body::before {
  content: '';
  width: 100%;
  height: 436px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #535971;
}

.page {
  width: 750px;
  margin: 0 auto;
}

header {
  color: #FFFFFF;
  width: 417px;
  margin-top: 140px;
}

header h1 {
  font-family: 'Staatliches', cursive;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 18px;
}

header p {
  font-size: 20px;
  line-height: 30px;
}

form {
  background: #FFFFFF;
  margin-top: 50px;
  border-radius: 20px 20px 0px 0px;
  padding: 72px 64px;
  display: flex;
  flex-direction: column;
}

label span {
  color: #c1bccc;
  font-size: 12px;
}

fieldset {
  border: none;
}

.fieldset-wrapper,
.input-group {
  display: flex;
  flex-direction: column;
}

fieldset legend {
  font-family: 'Staatliches', cursive;
  font-size: 24px;
  line-height: 34px;
  color: #535971;
  padding-bottom: 16px;
  border-bottom: 1px solid #E6E6F0; 
  margin-bottom: 36px;
}

.input-group legend {
  border: none;
  padding: 8px;
  margin-bottom: 0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
  margin-bottom: 16px;
}

.input-wrapper input {
  background: #FAFAFC;
  height: 56px;
  padding: 0 64px;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.input-group .legend-group {
  font-size: 20px;
  line-height: 34px;
}

.input-group #begin,
.input-group #end {
  width: 140px;
  padding: 0;
}

.input-group #date {
  width: 300px;
  padding: 0;
}

.col-2 {
  display: flex;
  gap: 22px;
}

.col-3 {
  display: flex;
  gap: 10px;
}

footer {
  background: #535971;
  border-radius: 0px 0px 20px 20px;
  padding: auto 71px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FF5374;
  border: none;
  border-radius: 20px;
  width: 608px;
  height: 55.65px;
  font-family: 'Staatliches';
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}